<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidDic - お子さま情報変更</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>

    <!-- ハンバーガーメニュー -->
    <header class="header">
        <div class="navtext-container">
            <a href="{% url 'home' %}" class="navtext">KidDic</a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="{% url 'account_info' %}">アカウント情報変更</a></li>
            <li><a href="{% url 'child_list' %}">お子さま一覧</a></li>
            <li><a href="{% url 'family_invite' %}">家族招待</a></li>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
    </header>

    <main>
        <section class="account-info-body">
            <div class="account-info-container">
                <h1>お子さま情報変更</h1>
                <form method="POST" action="{% url 'child_edit' child.id %}">
                    {% csrf_token %}
                    <div class="account-info-form-group">
                        <label for="nickname" class="account-info-label">ニックネーム：</label>
                        <input type="text" id="nickname" name="nickname" class="account-info-input" value="{{ child.nickname }}" required>
                    </div>
                    <div class="account-info-form-group">
                        <label for="birthdate" class="account-info-label">生年月日：</label>
                        <input type="date" id="birthdate" name="birthdate" class="account-info-input" value="{{ child.birthdate|date:'Y-m-d' }}" required>
                    </div>
                    <button type="submit" class="account-info-button">変更</button>
                </form>
                <a href="{% url 'child_list' %}" class="account-info-link">ホームに戻る</a>
            </div>              
                
        </section>
    </main>    
           
</body>
</html>
