<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>
</form> -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お子さま情報登録 - KidDic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>
    <header>
        <h1>お子さま情報登録</h1>
    </header>

    <!-- <section class="form-section"> -->
        {% if errors %}
            <ul class="error-messages">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>名言辞典をつくるためにお子さまの情報を登録してください。お子さまの情報は登録後も設定から変更できます。</p>

        <form method="post" action="{% url 'child_add' %}">
            {% csrf_token %}
            <div id="child-form-container">
                <!-- 子ども情報入力フォーム -->
                <div class="child-form">
                    <label for="nickname">ニックネーム:</label>
                    <input type="text" name="nickname" required>

                    <label for="birthdate">生年月日:</label>
                    <input type="date" name="birthdate" value="{{ today_date }}" required>
                </div>
            </div>

            <!-- きょうだい追加ボタン -->
            <button type="button" id="add-sibling-btn">➕きょうだい追加</button>

            <button type="submit">登録</button>
        </form>

        <a href="{% url 'home' %}">ホームへ戻る</a>    
    <!-- </section> -->

    <script src="{% static 'js/child_registration.js' %}"></script>
</body>
</html>
