<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidDic - 家族招待</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>

    <!-- ハンバーガーメニュー -->
    <header class="header">
        <div class="navtext-container">
            <a href="{% url 'home' %}" class="navtext">KidDic</a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="{% url 'account_info' %}">アカウント情報変更</a></li>
            <li><a href="{% url 'child_list' %}">お子さま一覧</a></li>
            <li><a href="{% url 'family_invite' %}">家族招待</a></li>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
    </header>

    <main>
        <h2>新規アカウント登録</h2>
        <form method="post" action="{% url 'family_signup' invite_url %}">
            {% csrf_token %}
            <div>
                <label for="username">名前／ニックネーム</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="email">メールアドレス</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password1">パスワード</label>
                <input type="password" name="password1" required>
            </div>
            <div>
                <label for="password2">パスワード確認</label>
                <input type="password" name="password2" required>
            </div>
            <button type="submit">登録</button>
        </form>
    </main>   
           
</body>
</html>