{% load form_filters %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidDic - 名言編集</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- ハンバーガーメニュー -->
    <header class="header">
        <div class="navtext-container">
            <a href="{% url 'home' %}" class="navtext">KidDic</a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="{% url 'account_info' %}">アカウント情報変更</a></li>
            <li><a href="{% url 'child_list' %}">お子さま一覧</a></li>
            <li><a href="{% url 'family_invite' %}">家族招待</a></li>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
    </header>

    <main>
        <!-- 大枠の開始 -->
        <div class="quote-container">
            <section class="quote-detail">
                <div class="modal-content">
                    <form method="post" action="{% url 'quote_edit' quote.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-header">
                            <select name="child" id="child" class="child-select" required>
                                {% for child in children %}
                                    <option value="{{ child.id }}" {% if child.id == quote.child.id %}selected{% endif %}>
                                        {{ child.nickname }}
                                    </option>
                                {% endfor %}
                            </select>
                            <h2>の名言を編集する</h2>
                        </div>
                    
                        <!-- 名言 -->
                        <label for="content">名言 <span style="color:red;">※必須</span></label>
                        {{ form.content|add_class:"custom-class" }} <!-- フィールドにカスタムクラスを追加 -->
                    
                        <!-- 日付 -->
                        <div class="date-range">
                            <label for="start_date">日付</label>
                            <div class="date-inputs">
                                {{ form.start_date|add_class:"date-input" }}
                                <span class="date-separator">〜</span>
                                {{ form.end_date|add_class:"date-input" }}
                            </div>
                        </div>
                    
                        <!-- 説明 -->
                        <label for="description">説明</label>
                        {{ form.description|add_class:"textarea-class" }}
                    
                        <!-- カテゴリ -->
                        <label for="category">カテゴリ</label>
                        {{ form.category|add_class:"category-class" }}
                    
                        <!-- 画像選択 -->
                        <label for="image">写真</label>
                        {% if quote.image %}
                            <a href="{{ quote.image.url }}">
                                <img src="{{ quote.image.url }}" style="max-width: 70%;margin: auto;display: block;"> 
                            </a>
                    
                            <div style="display: flex;margin-top: 15px;align-items: center;gap: 5px;">
                                <input type="checkbox" style="width: auto;margin-bottom: 0px;" name="image-clear" id="image-clear_id">
                                <label for="image-clear_id">写真クリア</label>
                            </div>
                        {% endif %}
                        <div style="display: flex;align-items: center;">
                            <label for="image">写真変更　</label>
                            <input type="file" name="image" accept="image/*" class="file-input-class" id="id_image">
                        </div>

                        <!-- SNS公開チェックボックス -->
                        <div class="sns-visibility">
                            {% if quote.public %}
                                <input type="checkbox" style="width: auto;margin-bottom: 0px;" name="public" id="id_public" checked>
                            {% else %}
                                <input type="checkbox" style="width: auto;margin-bottom: 0px;" name="public" id="id_public">
                            {% endif %}
                            <label for="id_public">SNS公開にする</label>
                        </div>
                                                                     
                        
                        <!-- 保存・削除ボタン -->
                        <div class="button-group">
                            <form method="post" action="{% url 'quote_edit' quote.id %}">
                                {% csrf_token %}
                                <button type="submit">保存</button>
                            </form>
                            <form method="post" action="{% url 'quote_delete' quote.id %}">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
                            </form>
                        </div>                                               
                    </form>                           
                </div>
            </section>
        </div>
    </main>    
           
</body>
</html>
